/* Main CSS */

body {
    background-image: url(yellowbg.jpg);
    background-size: cover;

}

/* Navbar CSS */

.navbar {
    box-shadow: 0 0 0 2px white;

}

#navbar-image {
    height: 50px;

}

/* Index CSS */

.jumbotronindex {
    background-color: rgb(52, 58, 64);
    color: white;
    box-shadow: 0 0 0 2px white;
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding-bottom: 20px;
    max-width: 800px;

}

.jumbotronindex .btn.btn-primary.btn-lg {
    background-color: rgb(52, 58, 64);
    color: white;
    border: 2px solid white;

}

.jumbotronindex .btn.btn-primary.btn-lg:hover {
    background-image: url(yellowbg.jpg);
    background-size: 800%;

}

.jumbotronindex .btn.btn-primary.btn-lg:focus {
    box-shadow: 0 0 0 2px #c7a719;
}

.jumbotronindex .my-4 {
    background-color: white;

}

/* Sign in/Register CSS */

.dark-container {
    background-color: rgb(52, 58, 64);
    color: white;
    text-align: center;
    box-shadow: 0 0 0 2px white;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding-bottom: 20px;
    max-width: 800px;

}

.dark-container .form-control {
    background-color: rgb(52, 58, 64);
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.dark-container .form-control:focus {
    box-shadow: 0 0 0 2px #c7a719;

}

.dark-container .btn-primary {
    background-color: rgb(52, 58, 64);
    color: white;
    border: 2px solid white;

}

.dark-container .btn-primary:hover {
    background-image: url(yellowbg.jpg);
    background-size: 800%;

}

.dark-container .btn-primary:focus {
    box-shadow: 0 0 0 2px #c7a719;

}

.dark-container .signup-link {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #c7a719;
}

.dark-container .signup-link a {
    color: #c7a719;
}

.dark-container .signup-link a:hover {
    text-decoration: underline;

}

/* Landing CSS */

.jumbotronlanding {
    background-color: rgb(52, 58, 64);
    color: white;
    box-shadow: 0 0 0 2px white;
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding-bottom: 20px;
    max-width: 800px;

}

.jumbotronlanding .btn.btn-primary.btn-lg {
    background-color: rgb(52, 58, 64);
    color: white;
    border: 2px solid white;
    width: 275px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.jumbotronlanding .btn.btn-primary.btn-lg:hover {
    background-image: url(yellowbg.jpg);
    background-size: 800%;

}

.jumbotronlanding .btn.btn-primary.btn-lg:focus {
    box-shadow: 0 0 0 2px #c7a719;

}

.jumbotronlanding .my-4 {
    background-color: white;

}

/* Sign in failure CSS */

h2 {
    color: red;

}